:root {
    --shadow-color: rgba(219, 219, 219, 0.171);
    --border-color: rgba(219, 219, 219, 0.411);
    --background-color: rgba(219, 219, 219, 0.171);
    --label-color: rgb(126, 105, 105);
    --silver: rgb(214, 209, 209);
}

.profile {
    width: 350px;
    margin: 70px 0;
    padding-top: 40px;
    text-align: center;
    border: 2px solid var(--shadow-color);
    border-radius: 20px;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    box-shadow: 3px 1px 5px var(--shadow-color);
    background-color: var(--silver);
}

.name {
    font-size: 24px;
    line-height: 1.47;
    font-weight: 700;
    padding: 5px 0;
}

.tag,
.location {
    font-weight: 40;
    line-height: 1.21;
    font-size: 20px;
    color: rgb(24, 23, 23);
    padding: 0;
    margin: 0;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 25px;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    list-style-position: outside;
    margin: 0;
    padding: 12px 0;
    background-color: var(--background-color);
    border: 0;
}

.quantity {
    font-style: italic;
    font-weight: 700;
}

.label {
    color: var(--label-color);
    padding-bottom: 3px;
}